<a href="https://colab.research.google.com/github/Mehul6112/Data-Science_curve/blob/main/Bike%20Rental%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction:**

Welcome to my exciting exploration of bike rental data from Yulu, a renowned bike rental company. In this journey to analyze and uncover valuable insights hidden within this dataset. We will utilize the powerful capabilities of Python libraries such as pandas, matplotlib, and seaborn to unravel the secrets behind bike rental patterns and trends.

## **Data Exploration:**

1. **Data Cleaning:**
    * Load the dataset into a pandas DataFrame.
    * Check for missing values and handle them appropriately.
    * Identify and remove any outliers or inconsistencies in the data.

2. **Exploratory Data Analysis:**
    * Investigate the distribution of bike rentals across different time periods (e.g., hourly, daily, weekly, monthly).
    * Analyze the relationship between weather conditions and bike rentals.
    * Explore the impact of user demographics (e.g., age, gender) on bike rental patterns.
    * Identify popular pick-up and drop-off locations.

In [3]:
# Importing neccessary modules
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

In [15]:
df = pd.read_csv("/content/sample_data/Yulu.csv")
df.sample(10) # random data from our dataset

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
9633,2012-10-05 18:00:00,4,0,1,1,26.24,31.060,57,8.9981,106,655,761
4192,2011-10-06 17:00:00,4,0,1,1,22.96,26.515,52,8.9981,63,505,568
6726,2012-03-17 13:00:00,1,0,0,1,24.60,30.305,60,7.0015,286,400,686
10070,2012-11-04 23:00:00,4,0,0,2,12.30,15.150,56,11.0014,12,41,53
1533,2011-04-09 18:00:00,2,0,0,2,15.58,19.695,82,7.0015,48,129,177
2495,2011-06-11 21:00:00,2,0,0,1,27.06,31.060,74,15.0013,76,144,220
736,2011-02-14 01:00:00,1,0,1,1,15.58,19.695,37,23.9994,1,6,7
4632,2011-11-06 02:00:00,4,0,0,1,10.66,15.150,81,0.0000,6,23,29
968,2011-03-04 19:00:00,1,0,1,1,13.12,15.150,61,16.9979,5,102,107
10832,2012-12-17 18:00:00,4,0,1,2,16.40,20.455,94,6.0032,14,493,507

<a name = "About"></a>
## About this data

| Column         | Description                                                          |
|----------------|----------------------------------------------------------------------|
| **datetime**   | Date and Time                                                        |
| **season**     | Season <br> (1: Spring, 2: Summer, 3: Fall, 4: Winter)               |
| **holiday**    | Holiday Indicator <br> (1: Yes, 0: No)                               |
| **workingday** | Working Day Indicator <br> (1: Yes, 0: No)                           |
| **weather**    | Weather Conditions: <br>1: Clear, Few Clouds, Partly Cloudy <br>2: Mist, Cloudy <br>3: Light Snow, Light Rain <br>4: Heavy Rain, Snow, Fog |
| **temp**       | Temperature (°C)                                                     |
| **atemp**      | "Feels Like" Temperature (°C)                                         |
| **humidity**   | Humidity (%)                                                         |
| **windspeed**  | Wind Speed (km/h)                                                    |
| **casual**     | Count of Casual Users                                                |
| **registered** | Count of Registered Users                                            |
| **count**      | Total Count of Rental Bikes (Casual + Registered Users)              |

## Critical Factors to Assess in Dataset Analysis:

Explore the dataset with a keen eye to uncover various anomalies and issues that may affect data quality and analysis. Here are some key aspects to consider:

* **Duplicate Rows:** 🔄 Check for duplicate rows in the dataset, which can distort analysis and lead to inaccurate insights. Eliminate duplicates to ensure data integrity and reliability.

* **Outliers:** 📊 Identify outliers lurking within the data, as they can skew statistical analyses and distort patterns. Carefully examine outliers to determine their impact and consider appropriate handling strategies.

* **Incorrect Data Types:** 📝 Ensure that each column's data type aligns with its intended purpose. Verify that numerical data is represented as integers or floats, dates are in datetime format, and categorical variables are appropriately encoded.

* **Inconsistent Data Entry:** 🔄 Look out for inconsistencies in data entry, such as variations in spelling, formatting, or capitalization. Standardize data entry conventions to maintain consistency and improve data quality.

In [23]:
df.datetime.duplicated().sum()

0

In [5]:
# converting date-time column to a more usable format that is native to pandas
df['datetime'] = pd.to_datetime(df['datetime'])
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

Let's check for any missing values and process the data.

In [7]:
# Check for missing values
missing_values = df.isnull()
# Summarize missing values
missing_values_summary = missing_values.sum()
print(missing_values_summary)

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

Looks like our data has no missing values, which is great. <br>
However, you may have noticed that certain columns like Season, Weather, Holiday, and Working Day contain numerical data with specific meanings, as elaborated in the [**About this Data**](#About) section. It would greatly enhance our analysis if we could map these numerical values to their corresponding descriptions. Doing so will make our visualizations more intuitive.

In [14]:
#using the map function to improve our dataset
df.holiday = df.holiday.map({0: 'No', 1: 'Yes'})
df.season = df.season.map({1: "Spring", 2: "Summer", 3: "Fall", 4: "Winter"})
df.workingday = df.workingday.map({0: 'No', 1: 'Yes'})
df.weather = df.weather.map({1: "Clear, Few Clouds, Partly Cloudy", 2: "Mist, Cloudy", 3: "Light Snow, Light Rain", 4: "Heavy Rain, Snow, Fog"})
df.sample(10) # to see a sample of our improved dataset

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
7226,2012-04-19 11:00:00,NaN,NaN,NaN,NaN,21.32,25.000,48,0.0000,46,183,229
9268,2012-09-09 13:00:00,NaN,NaN,NaN,NaN,27.88,31.820,39,0.0000,238,491,729
4953,2011-11-19 11:00:00,NaN,NaN,NaN,NaN,14.76,18.940,40,0.0000,50,183,233
5867,2012-01-19 16:00:00,NaN,NaN,NaN,NaN,10.66,11.365,41,22.0028,8,185,193
10092,2012-11-05 21:00:00,NaN,NaN,NaN,NaN,12.30,14.395,52,19.0012,8,144,152
10559,2012-12-06 09:00:00,NaN,NaN,NaN,NaN,9.84,11.365,48,12.9980,19,257,276
9245,2012-09-08 14:00:00,NaN,NaN,NaN,NaN,33.62,38.635,52,30.0026,260,366,626
2299,2011-06-03 17:00:00,NaN,NaN,NaN,NaN,29.52,31.820,25,19.0012,73,485,558
7361,2012-05-06 02:00:00,NaN,NaN,NaN,NaN,22.14,25.760,83,19.0012,29,64,93
3741,2011-09-06 20:00:00,NaN,NaN,NaN,NaN,22.14,25.760,88,19.9995,13,150,163

In [13]:
# Now lets get an overview of numerical data set using the describe function.
df.describe()

,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

## Visualization:

1. **Data Visualization:**
    * Utilize matplotlib and seaborn to create compelling visualizations that showcase the findings from our data exploration.
    * Generate bar charts, histograms, scatter plots, and heatmaps to illustrate trends and patterns in the data.
    * Ensure that the visualizations are clear, informative, and visually appealing.

2. **Interactive Visualization:**
    * Employ interactive visualization libraries such as Bokeh or Plotly to create interactive dashboards and plots.
    * Allow users to explore the data and gain insights based on their own selections and filters.

## **Insights and Conclusion:**

1. **Meaningful Questions and Inquiries:**
    * What are the peak hours and days for bike rentals?
    * How does weather affect the demand for bike rentals?
    * Are there any specific user demographics that are more likely to rent bikes?
    * Which pick-up and drop-off locations are the most popular?
    * Can we predict future bike rental demand based on historical data?

2. **Conclusions and Recommendations:**
    * Summarize the key insights and findings from our analysis.
    * Provide recommendations for Yulu based on our findings.
    * Suggest potential areas for future exploration and improvement.

## **Engaging Presentation:**

1. **Clear and Concise Language:**
    * Use simple and easy-to-understand language to explain the analysis and findings.
    * Avoid technical jargon and complex statistical terms.

2. **Storytelling:**
    * Present the analysis as a compelling story that captivates the audience.
    * Use anecdotes and real-world examples to illustrate the insights.

3. **Interactive Elements:**
    * Incorporate interactive elements such as sliders, drop-down menus, and clickable maps to engage the audience.
    * Allow users to explore the data and discover insights on their own.